include inc/header.jade

.container

  header#header
    h1 browser-check
      span .js

  :markdown
    He as compliment unreserved projecting. Between had observe pretend delight for believe.
    Do newspaper questions consulted sweetness do. Our sportsman his unwilling fulfilled departure law.
    Now world own total saved **above her** cause table. Wicket myself her square remark the should far secure sex.
    Smiling cousins warrant law explain for whether. I aim to support:

    I aim to support:

  section.selects-wrapper#selects-wrapper

  section.results-up
    input.pass(type="radio", name="results-tab" checked)
    input.warning(type="radio", name="results-tab")
    input.error(type="radio", name="results-tab")

    ul.header
      li.ss-icon.pass check
      li.ss-icon.warning alert
      li.ss-icon.error delete
    ul.tab.pass
      li Element.getElementById
      li Object.observe
      li window.scrollTo
    ul.tab.warning
      li Element.addEventListener
      li Object.observe
    ul.tab.error
      li Element.addEventListener
      li Object.observe

  section.tooltip#tooltip
    header.
      {{explaination}}
    .content
      p.description.
        {{description}}
      section.support-overview
        {{supportOverview}}

pre.code-wrapper
  .container.
    (function(){
      this.FastButton = function(element, handler){
          this.element = element;
          this.handler = handler;

          if("ontouchstart" in window){
              element.addEventListener('touchstart', this, false);
          } else {
              element.<a href="#" class="error">addEventListener</a>('click', this, false);
          }
      };

      this.FastButton.prototype.handleEvent = function(e){
        switch(e.type){
          case 'touchstart' : this.onTouchStart(e); break;
          case 'touchmove' : this.onTouchMove(e); break;
          case 'touchend' : this.onClick(e); break;
          case 'click' : this.onClick(e); break;
        }
      };

      this.FastButton.prototype.onTouchStart = function(e){
        e.stopPropagation();

        this.element.addEventListener('touchend', this, false);
        this.element.addEventListener('touchmove', this, false);

        this.startX = e.touches[0].clientX;
        this.startY = e.touches[0].clientY;

    };

include inc/footer.jade