include inc/header.jade

header#header
  .container
    h1 browser-check
      span .js

    :markdown
      Browser-check.js runs your code against the [caniuse](http://caniuse.com/ "Can I use website") database and tells you what
      features it detected and if those features passed or failed the test. *Browser-check.js is an open-source initiative and is currently in a pre-alpha state.*

      1. Select the browser versions you would like to support
      2. Paste your code in the editor
      3. Click 'Check Code'
      4. Click on one of the results to view details

      I aim to support:

    section.selects-wrapper#selects-wrapper

.code-wrapper
  section.results-up#results-up
    a(href="#").ss-icon.ss-standard.minify-trigger navigateright
    nav
      a(href="#", data-tab="passed").passed
        span.ss-icon check
      a(href="#", data-tab="failed").failed
        span.ss-icon delete
    ul.passed(data-tab="passed")
    ul.failed(data-tab="failed")

  section.tooltip#tooltip
    header.
      {{explaination}}
    .content
      p.description.
        {{description}}
      section.support-overview
        {{{supportOverview}}}
      a(href="{{link}}", target="_blank").overview-link View full overview on caniuse.com

  .container
    a.btn.check-trigger#check-trigger(href="#") Check Code

    pre
      code.language-javascript#code-input(contenteditable, spellcheck="false").
        (function(){
          window.addEventListener('devicelight', function(event) {
            console.log(event.value);
          });


          var encodedData = window.btoa("Hello, world"); // encode a string
          var decodedData = window.atob(encodedData); // decode the string


          var AudioContext = window.AudioContext || window.webkitAudioContext;
          var audioCtx = new AudioContext();

          var oscillatorNode = audioCtx.createOscillator();
          var gainNode = audioCtx.createGain();
          var finish = audioCtx.destination;


          var reader = new FileReader();
          reader.onload = function(e) {
            var text = reader.result;
          }

          reader.readAsText(file, encoding);

          var aFileParts = ['<a id="a"><b id="b">hey!</b></a>'];
          var oMyBlob = new Blob(aFileParts, {type : 'text/html'}); // the blob
        }());

        (function(){
          window.addEventListener('devicelight', function(event) {
            console.log(event.value);
          });


          var encodedData = window.btoa("Hello, world"); // encode a string
          var decodedData = window.atob(encodedData); // decode the string


          var AudioContext = window.AudioContext || window.webkitAudioContext;
          var audioCtx = new AudioContext();

          var oscillatorNode = audioCtx.createOscillator();
          var gainNode = audioCtx.createGain();
          var finish = audioCtx.destination;


          var reader = new FileReader();
          reader.onload = function(e) {
            var text = reader.result;
          }

          reader.readAsText(file, encoding);
        }());

include inc/footer.jade