.code-wrapper {
    width: 100%;

    @include border(top, $grey, $border-style-alt);
    background: $grey-light;

    padding: $margin-l 0;

    position: relative;

    .check-trigger {
        position: absolute;
        top: 0;
        right: $margin-l;
    }

    .container {
        width: $wide-container-width;

        &:focus {
            outline: none;
        }

        a {
            cursor: pointer;
            &.failed,&.failed:hover {
                color: $red;
                border-color: $red;

                &.is-active {
                    background-color: lighten($red, 40%);
                }
            }
            &.passed,&.passed:hover {
                color: $green;
                border-color: $green;

                &.is-active {
                    background-color: lighten($green, 40%);
                }
            }
        }
    }
}