.code-wrapper {
    width: 100%;
    min-height: 100%;

    @include border(top, $grey, $border-style-alt);

    background-color: $grey-light;

    position: relative;
    overflow-x: hidden;

    .container {
        width: $wide-container-width;
        //position: relative;
    }

    .check-trigger {
        position: absolute;
        top: 0;
        right: $margin-l;
        z-index: 1;

        &.is-sticky {
            position: fixed;
        }
    }

    pre {
        line-height: 1.6em;
        padding: $margin-l 0;

        code {
            &:focus {
                outline: none;
            }

            a {
                cursor: pointer;
                &.failed,&.failed:hover, &.failed span,&.failed span:hover {
                    color: $red;
                    border-color: $red;

                    &.is-active {
                        background-color: lighten($red, 40%);
                    }
                }
                &.passed,&.passed:hover, &.passed span,&.passed span:hover {
                    color: $green;
                    border-color: $green;

                    &.is-active {
                        background-color: lighten($green, 40%);
                    }
                }
            }
        }
    }
}