.results-up {
    font-size: $size-s;

    position: fixed;
    right: $margin-l;
    top: $margin-l;
    z-index: 1;

    width: 270px;

    right: -275px;
    @include transition(right);
    &.is-visible {
        right: $margin-l;
    }

    line-height: 0;

    nav {
        width: 100%;

        a {
            display: inline-block;

            width: 40px;
            height: 40px;
            line-height: 44px;
            text-align: center;

            //color: $grey;
            background-color: $grey;
            border: none;

            cursor: pointer;

            &:hover {
                color: $base-color;
            }

            &.is-active, .is-active:hover {
                color: $white;
            }
            &.passed.is-active {
                background-color: $green;
            }
            &.failed.is-active {
                background-color: $red;
            }
        }
    }

    ul {
        width: 100%;
        margin: 0;
        display: none;

        li {
            margin: 0;
            padding: $padding-m;
            color: $white;
            display: block;
            cursor: pointer;
        }

        &.is-open {
            display: block;
        }

        &.passed li {
            background-color: $green;

            &:hover {
                background-color: $green-dark;
            }
        }
        &.failed li {
            background-color: $red;

            &:hover {
                background-color: $red-dark;
            }
        }
    }

}