.results-up {
    font-size: $size-s;

    position: fixed;
    right: $margin-l;
    top: $margin-l;
    z-index: 2;

    width: 270px;

    right: -275px;
    @include transition(right);

    &.is-visible {
        right: $margin-l+40px;
    }

    &.is-minified {
        right: -230px;

        .minify-trigger {
            @include transform(rotate(180deg));
        }
    }

    line-height: 0;

    nav {
        width: 100%;
    }

    nav a, .minify-trigger {
        display: inline-block;

        width: 40px;
        height: 40px;
        line-height: 44px;
        text-align: center;

        //color: $grey;
        background-color: $grey;
        border: none;

        cursor: pointer;

        &:hover {
            color: $base-color;
        }

        &.is-active, .is-active:hover {
            color: $white;
        }
        &.passed.is-active {
            background-color: $green;
        }
        &.failed.is-active {
            background-color: $red;
        }
    }

    .minify-trigger {
        background-color: $grey-light;
        float: left;
        @include transition(transform);
    }

    ul {
        width: 100%;
        margin: 0;
        display: none;

        max-height: 8.5*40px;
        overflow-y: auto;
        margin-left: 40px;

        li {
            margin: 0;
            padding: $padding-m;
            color: $white;
            display: block;
            cursor: pointer;
        }

        &.is-open {
            display: block;
        }

        &.passed li {
            background-color: $green;

            &:hover {
                background-color: $green-dark;
            }
        }
        &.failed li {
            background-color: $red;

            &:hover {
                background-color: $red-dark;
            }
        }
    }

}