doctype html
<html lang="en">

head
  meta(charset="UTF-8")
  meta(name="viewport", content="user-scalable=no, initial-scale=1")
  title Browser-check.js - Quickly get an estimate of your JS browser support

  link(rel="stylesheet" href="css/bundle.min.css")
  link(rel="stylesheet" href="fonts/ss-standard/stylesheet.css")
  link(href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,300italic,400italic', rel='stylesheet', type='text/css')

<body>
